

<h1>About Us</h1>

		<h2>why unstarv ?</h2>

			<p> 
               "UnStarv", a revolutionary new social network for artists globally! Here our pleasure is to algorithmitize artistic growth and interconnection, but that's really just a fancy way of saying "say goodbye to the idea of the "starving artist" ". Yeah, we are working with a very simple premise. You get enough artists in one "room" and statistically there will be one person (and most likely dozens!) that wants to work with you. Yes, you! This is your one shop stop whether you are an actor, a painter, cinematographer, game designer, or any kind of artist. "UnStarv" has something for everyone. Whether you haven't thought of an idea and need to have your brain massaged through word association games and brainstorming, "and need to jog your artistic consciousness, either solo or with friends/fellow collaborators or If you have an idea and need feedback we've got a place for you! We've also got a place for those who either simply want to lend a friendly hand or ear to a fellow artist by giving them feedback or for those people looking for projects to finance! In short, "UnStarv" will assist you in getting an idea, perfecting it, and finally even help you find supporters and collaborators. Enjoy!
			</p>
	</section>

   
   <section>
	
		<h2>The  Company</h2>
		<p>
		<ul>
		<h3>Unstarv</h3>
         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
             
		  



		</ul>
       
		                  


		</p>

    </section>


	<section>
	  <ul>
		<h2>Leadership team </h2>
          <h2>CEO, Unstarv</h2>
<p>  <h5> Blah blan  </h5>
	 
 </p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 
       <br>
       <br>

       <h2> CIO, Unstarv</h2>
         <p> <h5> Mr Xuman </h5>
		"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

          <br>
          <br>

		<h2> CTO, Unstarv<h2>
		<p><h5> Moussa Sarr </h5></p>
         Moussa Sarr attended Lafayette College. He majored in Engineering Studies with a concentration in Electrical and Computer Engineering. 
         Moussa is passionate of Technology and Entrepreneurship. He has a keen interest in Ruby on Rails web development and more particularly Web Security, Search Engine Optimization, Scaling and Speed Optimization. He is also interested in Real Estate Entrepreneurship.  
		</ul>
       </section>
       <br>
       <br>
       <br>
	</div>

	
<br>
<br>
<br>
	</div>