<div>
  <h4><small>Comment by</small> <%= comment.post.user.username %></h4>
  <p class="comment"><%= comment.body %></p>
  <p>Posted <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</p>
</div>