

<div class=" footer navbar navbar-default navbar-fluid-bottom">
 
    <span class="navbar-text">
      

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", about_path %> <span class="sr-only">(current)</span></li>
      
       <li><%=link_to"Privacy", privacy_path %></li>
       <li><%= link_to "Terms", terms_path %></li>
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram-square"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
     
       
     
    </div>










    </span>

    <ul class="nav navbar-nav navbar-right">
     
      <li><i class="glyphicon glyphicon-king"></i><%= link_to "Code by WeAreIoT Team", "http://www.brianasingia.com" %></li>
     </ul>
</div>
